@{
    ViewData["Title"] = "Home Page";
}

@model BooksViewModel
    <div class="text-center">
        <h1 class="display-4">Welcome to the OG Book DB</h1>
    </div>

@foreach (Books b in Model.Books)
{
    <partial name="BookSummary" model="b" />
}

<div page-blah="@Model.PageInfo" page-action="Index"></div>
