@inherits LayoutComponentBase

<div class="bg-info text-white p-2">
    @* Added in this jumbotron class *@
    <span class="jumbotron">Welcome</span>
    <span class="navbar-brand m-lg-2">Bookstore Administrator</span>
</div>

<div class="container-fluid">
    <div class="row p-2 d-grid">
        <div class="col-3">
            <br /><br /><br />
            <NavLink class="btn btn-outline-primary" href="/admin/books"
                     ActiveClass="btn-primary text-white" Match="NavLinkMatch.Prefix">Books</NavLink>
            <NavLink class="btn btn-outline-primary" href="/admin/orders"
                     ActiveClass="btn-primary text-white" Match="NavLinkMatch.Prefix">Orders</NavLink>
        </div>
        <div class="col">
            @Body
        </div>
    </div>
</div>